<h2 id="page-title">{{ pageTitle }}</h2>

<!-- ############################################# -->
<!-- Loading Indicator                             -->
<!-- ############################################# -->
<div *ngIf="loading && playlistId" class="text-center">
    <div class="spinner-border" role="status"></div>
    <div>Loading...</div>
</div>

<div *ngIf="playlistId && !loading && !videoList.length && !videoId" class="no-videos">No videos to display.</div>

<!-- ############################################# -->
<!-- VIDEO LIST.                                   -->
<!-- ############################################# -->
<app-video-list *ngIf="!videoId && playlistId" [playlistId]="playlistId" [videoList]="videoList"></app-video-list>


<!-- ############################################# -->
<!-- VIDEO PLAYER                                  -->
<!-- ############################################# -->
<div #player *ngIf="videoId" id="player" class="pb-5">
    <youtube-player [videoId]="videoId" 
        suggestedQuality="highres"
        (stateChange)="stateChanged($event)"
        (ready)="googleReady($event)"
        (apiChange)="onApiChange($event)"
        [width]="videoWidth"
        [height]="videoHeight"
        [startSeconds]="0"
    ></youtube-player>

    <app-player-controls #playerControls
        [video]="video"
        [playlistId]="playlistId"
        [navState]="navState"
        [(like)]="like"
        [(dislike)]="dislike"
        [(muted)]="muted"
        [(playing)]="playing"
    ></app-player-controls>
</div>

<!-- ############################################# -->
<!-- MAIN PLAYER PAGE                              -->
<!-- ############################################# -->
<div *ngIf="!playlistId && !videoId" class="text-center">
    <img src="/assets/585335.jpg" class="align-middle" />
</div>


