.no-videos {
    text-align: center;
    font-size: 1.6em;
    font-style: italic;
    margin: 20px;
}

#player {
    text-align: center;
}

.video-description {
    text-align: left;
    padding: 6px;
    cursor: pointer;
}


.video-title {
    font-size: 0.7em;
    padding: 6px;
    a {
        color: #DDD; 
        text-decoration: none;
        font-weight: 700;
        &:hover {
            color: #CBC660;
            text-decoration: underline;
        }
    }
}

#page-title {
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 8px;
    font-family: Verdana, Geneva, sans-serif;
}

