<div class="text-muted bg-dark footer container">
  <div class="row">
    <div class="col-md-6 text-end">
      <img src="/assets/youtube.png" style="height: 2.8em; margin-top: 0.6em;" />
    </div>
    <div class="col-md-6 text-start">
      <a href="/privacy-policy">Privacy Policy</a> | 
      <a href="/terms-of-service">Terms of Service</a> | <a href="https://github.com/NJLaPrell/gek" target="_blank"><img src="/assets/GitHub-Mark-Light-32px.png" style="height: 1em;" title="GitHub Logo" /> Gek on GitHub</a><br />
      Logo created with <a href="https://LogoMakr.com/app" target="_blank">LogoMakr.com/app</a>. | 
      &copy; 2022 LaPrell
    </div>
  </div>
  <div class="text-center">
    Gek - Version {{ versions.versionLong }}
  </div>
</div>
