<div class="p-4">
  <p class="alert alert-success">Your data has been successfully deleted and you have been logged out.</p>
  <p>Please note that any data managed by Google or YouTube, such as playlists and subscriptions, still exists and can be managed there.</p>
  <p>Should you login to this site again, data will be again shared from Google and YouTube as long as this site is still authorized to access it. Those settings can be updated with Google here: <a href="https://security.google.com/settings/security/permissions" target="_blank">https://security.google.com/settings/security/permissions</a>.</p>
</div>