.unsorted-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.1em;
    overflow:hidden;
}

.unsorted-details {
  font-size: 0.9em;
}

.unsorted-thumbnail {
    width: 160px !important;
    height: 120px;
    float: left;
    margin-right: 4px;
}

.errorMessage {
    color: red;
}

.unsorted-button-panel {
    width: 200px;
}

.unsorted-status {
    width: 20px;
}

.channelLink {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 700;
  font-family: 'Patrick Hand', cursive;
  color: #309E10;

  &:hover {
    color: #CBC660;
  }
}

.description {
  cursor:pointer;
  color: #AAA;
}

.description-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}