<div class="modal-header bg-dark text-light">
    <h4 class="modal-title">Unsorted Videos ({{ unsorted.length }})</h4>
    <button type="button" class="btn-close btn-dark" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-dark">
    <table class="table table-dark table-responsive table-striped table-hover table-sm" style="table-layout:fixed;">
        <thead>
            <tr>
                <th class="unsorted-status">&nbsp;</th>
                <th class="unsorted-chanel">Channel</th>
                <th class="unsorted-video">Video</th>
                <th class="unsorted-button-panel">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let u of unsorted">
                
              <td class="unsorted-status"><span *ngIf="u?.errorMessage" class="errorMessage" [ngbTooltip]="moment(u.errorMessage.failDate).fromNow() + ' - ' + u.errorMessage.errors[0].message"><fa-icon [icon]="faTriangleExclamation"></fa-icon></span></td>
              <td class="unsorted-chanel"><a [href]="'https://www.youtube.com/channel/' + u.channelId" target="_blank" class="channelLink">{{ u?.channelName }}</a></td>
              <td class="unsorted-video">
                  <img class="unsorted-thumbnail" [src]="u?.thumbnail" (click)="openVideo(u.videoId || '')" ngbTooltip="Click to open in a new window" style="cursor:pointer;" />
                  <div class="unsorted-title">{{ u?.title }}</div>
                  <div class="unsorted-details">Published {{ moment(u?.published).fromNow() }}</div>
                  <div #description class="description description-truncate" (click)="description.classList.toggle('description-truncate')" ngbTooltip="Click to show/hide more">{{ u?.description }}</div>
              </td>
              <td class="text-end unsorted-button-panel">
                  <div ngbDropdown class="d-inline-block" container="body">
                      <button type="button" class="btn btn-dark btn-sm" [id]="'assign' + u?.id" ngbDropdownToggle>Move to Playlist</button>
                      <div ngbDropdownMenu style="max-height: 60vh; overflow-y:auto">
                          <ng-container *ngFor="let pl of playlists">
                              <button (click)="moveToPlaylist(pl.id, u?.videoId || '')" ngbDropdownItem>{{ pl.title }}</button>
                          </ng-container>
                      </div>
                  </div>
                  &nbsp;
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteItem(u)" ngbTooltip="Remove from the list."><fa-icon [icon]="faTrash"></fa-icon></button>
              </td>
                
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer bg-dark">
    <button type="button" class="btn btn-danger" (click)="purge()"><fa-icon [icon]="faTrash"></fa-icon> Purge Unsorted Videos</button>
    <button type="button" class="btn btn-dark" (click)="activeModal.close('Close click')">Close</button>
</div>