.unsorted-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.8em;
    overflow:hidden;
}

.unsorted-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.8em;
    overflow:hidden;
}

.unsorted-thumbnail {
    width: 160px !important;
    height: 120px;
    float: left;
    margin-right: 4px;
}

.errorMessage {
    color: red;
}

.show-errors-switch {
    margin-left: 50px;
    input, label {
        cursor: pointer;
        font-size: 1.2em;
    }
    
}

.unsorted-button-panel {
    width: 200px;
}

.unsorted-status {
    width: 20px;
}

.unsorted-chanel {
    width: 200px;
}

.channelLink {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;

  font-family: 'Patrick Hand', cursive;
  color: #309E10;


  &:hover {
    color: #CBC660;
  }
}

.description {
  cursor:pointer;
  color: #AAA;
}

.description-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}