.unsorted-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.8em;
    overflow:hidden;
}

.unsorted-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.8em;
    overflow:hidden;
}

.unsorted-thumbnail {
    width: 80px !important;
    height: 60px;
    float: left;
    margin-right: 4px;
}