<div class="modal-header bg-dark text-light">
  <h4 class="modal-title">User Preferences</h4>
  <button type="button" class="btn-close btn-dark" style="background-color: #aaa" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="autoSortToggle" name="autoSortToggle" [(ngModel)]="prefs.autoSort" />
          <label class="form-check-label" for="autoSortToggle">Automatic Sorting</label>
        </div>
        <div class="form-text">When automatic sorting is enabled, the new videos you are subscribed to will be automatically sorted into your playlists at a regular interval.</div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-8" for="autoSortInterval">Automatic Sorting Interval:</label>
          <div class="col-md-4">
            <input type="text" class="form-control display-inline" id="autoSortInterval" name="autoSortInterval" size="3" [(ngModel)]="prefs.autoSortInterval" [disabled]="!prefs.autoSort" />
          </div>
        </div>
        <div class="form-text">The number of minutes to wait before running sorting again. (Applies only when Automatic Sorting is enabled.)</div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="autoNextToggle" name="autoNextToggle" [(ngModel)]="prefs.autoNext" />
          <label class="form-check-label" for="autoNextToggle">Automatic Next Video</label>
        </div>
        <div class="form-text">Automatically display the next video in the playlist when the current video ends.</div>
      </div>
      <div class="col-md-6">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="almostDonePromptToggle" name="almostDonePromptToggle" [(ngModel)]="prefs.almostDonePrompt" />
          <label class="form-check-label" for="almostDonePromptToggle">Prompt When Video Ending</label>
        </div>
        <div class="form-text">30 seconds before the end of a video, prompt to like, dislike, or remove the video from the playlist.</div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="autoPlayToggle" name="autoPlayToggle" [(ngModel)]="prefs.autoPlay" />
          <label class="form-check-label" for="autoPlayToggle">Auto Play Video</label>
        </div>
        <div class="form-text">Automatically play the video when navigating to it.</div>
      </div>
      <div class="col-md-6">
        <label class="d-inline-block">"Keep" Playlist:</label>
        <div class="d-inline-block" ngbDropdown container="body">
          <button id="keepPlaylist" type="button" class="btn btn-sm btn-dark mt-1" ngbDropdownToggle>{{ getKeepPlaylistName() }}</button>
          <div ngbDropdownMenu style="max-height: 60vh; overflow-y: auto" aria-labelledby="keepPlaylist">
            <ng-container *ngFor="let pl of playlists">
              <button ngbDropdownItem (click)="setKeepPlaylist(pl.id)">{{ pl.title }}</button>
            </ng-container>
          </div>
        </div>
        <div class="form-text">Assign a playlist to use when keeping a video with the keep (<fa-icon [icon]="faArrowTurnUp"></fa-icon>) button.</div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="stickyPlaylist" name="stickyPlaylist" [(ngModel)]="prefs.stickyPlaylist" />
          <label class="form-check-label" for="stickyPlaylist">Keep Playlists Open</label>
        </div>
        <div class="form-text">Keep the sidebar open when navigating to a playlist.</div>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-danger btn-sm" (click)="confirmDelete()"><fa-icon [icon]="faTrash"></fa-icon> Delete User Data</button>
        <div class="form-text">Delete all user data retained by Gek.</div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer bg-dark">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-success" (click)="savePreferences()"><fa-icon [icon]="faSave"></fa-icon> Save Preferences</button>
</div>
