<div *ngIf="video" id="playerControls" class="pb-5 text-center">
    <div class="text-start">
        <div class="video-title">
            <a [href]="'https://www.youtube.com/channel/' + video.channelId" target="_blank" class="channel-link">{{ video.channelTitle }}</a>
            &nbsp; | &nbsp; {{ video.viewCount | viewCount }} <fa-icon [icon]="faEye"></fa-icon>
            &nbsp; | &nbsp; {{ video.likeCount | thumbCount }} <fa-icon [icon]="faThumbsUp"></fa-icon>
            &nbsp; | &nbsp; Published: {{ video.publishedAt | fromNow }}
        </div>

        <div #description class="video-description text-truncate text-start p-3 pe-auto" [innerHtml]="video.description || '' | safeHtml" (click)="description.classList.toggle('text-truncate')"></div>

        <div *ngIf="showRemote">
            <input name="progress" [(ngModel)]="progress" type="range" class="form-range" min="0" [max]="duration" step="1" id="progress" (change)="onProgressChanged()">
        </div>

        <div *ngIf="showRemote" class="text-center">
            {{ progress | durationFromSeconds }} / {{ duration | durationFromSeconds }}
        </div>
        
        <div class="row">
            <div class="col-sm-3 next-prev video-prev">
                <div class="text-end m-0 p-0">
                    <img *ngIf="navState.previousVideo" class="videoThumbnail" [src]="navState.previousVideo.thumbnail" />       
                </div>
                <div *ngIf="navState.previousVideo" class="text-truncate">{{ navState.previousVideo.title }}</div>
                <div *ngIf="navState.previousVideo" class="text-truncate">
                    <span class="view-count">{{ navState.previousVideo.viewCount | viewCount }} <fa-icon [icon]="faEye"></fa-icon></span>
                    &nbsp;•&nbsp;
                    <span class="publish-date">{{ navState.previousVideo.publishedAt | fromNow }}</span>
                </div>
            </div>
            <div class="col-sm-1">
                <button type="button"
                    [disabled]="!navState.previousVideo"
                    class="btn btn-dark next-prev-btn"
                    ngbTooltip="Previous Video"
                    (click)="onVideoNav(navState?.previousVideo)"
                >
                    <fa-icon [icon]="faBackward"></fa-icon>
                </button>
            </div>
            <div class="col-sm-4 text-center center-buttons">
                <div>
                    <button type="button" class="btn" [class.btn-dark]="!like" [class.btn-success]="like" (click)="onThumbsUp()">
                        <fa-icon [icon]="faThumbsUp"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-dark" [class.btn-dark]="!dislike" [class.btn-danger]="dislike" (click)="onThumbsDown()">
                        <fa-icon [icon]="faThumbsDown"></fa-icon>
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger" (click)="onRemove()">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-dark" (click)="onOpenInNewWindow()">
                        <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="col-sm-1">
                <button type="button"
                    [disabled]="!navState.nextVideo"
                    class="btn btn-dark next-prev-btn"
                    ngbTooltip="Next Video"
                    (click)="onVideoNav(navState?.nextVideo)"
                >
                    <fa-icon [icon]="faForward"></fa-icon>
                </button>
            </div>
            <div class="col-sm-3 next-prev video-next">
                <div class="text-start m-0 p-0">
                    <img *ngIf="navState.nextVideo" class="videoThumbnail" [src]="navState.nextVideo.thumbnail" />       
                </div>
                <div *ngIf="navState.nextVideo" class="text-truncate">{{ navState.nextVideo.title }}</div>
                <div *ngIf="navState.nextVideo" class="text-truncate">
                    <span class="view-count">{{ navState.nextVideo.viewCount | viewCount }} <fa-icon [icon]="faEye"></fa-icon></span>
                    &nbsp;•&nbsp;
                    <span class="publish-date">{{ navState.nextVideo.publishedAt | fromNow }}</span>
                </div>
            </div>
        </div>

        <div  *ngIf="showRemote" class="row mt-4">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4 text-center">
                <button type="button" class="btn btn-dark play-btn" (click)="onPausePlay()">
                    <fa-icon *ngIf="!playing" [icon]="faPlay"></fa-icon>
                    <fa-icon *ngIf="playing" [icon]="faPause"></fa-icon>
                </button>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-dark mute-btn" (click)="onToggleMute()">
                    <fa-icon *ngIf="!muted" [icon]="faVolumeHigh"></fa-icon>
                    <fa-icon *ngIf="muted" [icon]="faVolumeXmark"></fa-icon>
                </button>

                <input name="volume" [disabled]="muted" [(ngModel)]="volume" type="range" class="form-range" min="0" max="100" step="1" id="volume" (change)="onVolumeChanged($event)">
            </div>
        </div>
    </div>
</div>

<!-- ############################################# -->
<!-- TOAST TEMPLATE                                -->
<!-- ############################################# -->
<ng-template #endOfVideoToast>
	<p>This video is almost over...</p>
    <div class="clearfix">
        <button type="button" class="btn btn-sm float-start" [class.btn-primary]="!like" [class.btn-success]="like" (click)="onThumbsUp()">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
        </button>

        <button type="button" class="btn btn-sm float-start ms-2" [class.btn-primary]="!dislike" [class.btn-danger]="dislike" (click)="onThumbsDown()">
            <fa-icon [icon]="faThumbsDown"></fa-icon>
        </button>

        <button type="button" class="btn btn-danger btn-sm float-end" (click)="removeVideo()">
            <fa-icon [icon]="faTrashAlt"></fa-icon> Delete Now
        </button>
        <p class="flo"></p>
    </div>
</ng-template>