
#playerControls {

    .video-title {
        font-size: 0.7em;
        padding: 6px;
        a {
            color: #DDD; 
            text-decoration: none;
            font-weight: 700;
            &:hover {
                color: #CBC660;
                text-decoration: underline;
            }
        }
    }

    .video-description {
        cursor: pointer;
    }

    .next-prev {
        img {
            height: 120px;
            width: 160px;
        }
        font-size: 0.8em;
    }

    .next-prev-btn {
        font-size: 1.5em;
        display: block;
        width: 100%;
        line-height: 160px;
    }

    .center-buttons {
        div {
            height: 60px;
            button {
                margin: 10px;
                line-height: 40px;
                width: 40px;
            }
        }
    }

    .play-btn, .mute-btn {
        font-size: 5em;
    }
    
}

#moveToPlaylist::after {
    display: none !important;
}


