
#playerControls {

    .video-title {
        font-size: 0.7em;
        padding: 6px;
        a {
            color: #DDD; 
            text-decoration: none;
            font-weight: 700;
            &:hover {
                color: #CBC660;
                text-decoration: underline;
            }
        }
    }

    .video-description {
        cursor: pointer;
    }

    .next-prev {
        img {
            height: 120px;
            width: 160px;
        }
        font-size: 0.8em;
    }

    .next-prev-btn {
        font-size: 1.5em;
        display: block;
        line-height: 160px;
    }

    .center-buttons {
        div {
            height: 60px;
            button {
                margin: 10px;
                line-height: 40px;
                width: 40px;
            }
        }
    }

    .play-btn, .mute-btn {
        font-size: 5em;
    }
    
}

#moveToPlaylist::after {
    display: none !important;
}

.next-col {
  margin-left: -40px;
}

.next-prev-text {
  display: none;
}

@media screen and (max-width: 575px) {
  .next-prev-col {
    width: 10%;
  }
  .center-buttons {
    width: 80%;
  }
  .next-prev {
    margin-top: 20px;
    margin-bottom: 20px;
    div {
      text-align: left !important;
    }
  }
  .next-prev-text {
    display: inline !important;
    font-size: 1.4em;
    font-weight: 500;
  }
  .videoThumbnail {
    display: none;
  }
  
}

