<div class="modal-header bg-dark text-light">
    <h4 class="modal-title">Sort Rules</h4>
    <button type="button" class="btn-close btn-dark" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-dark" style="min-height: 400px;">
    <form>
    <table class="table table-striped table-dark table-hover table-sm" style="table-layout:fixed;">
        <thead>
            <tr>
                <th class="type-col">Type</th>
                <th class="channel-col">Channel Match</th>
                <th class="title-col">Title Match</th>
                <th class="desc-col">DescriptionMatch</th>
                <th class="playlist-col">Playlist</th>
                <th class="btn-col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of rules">
                <ng-template [ngIf]="!r?.edit">
                    <td class="type-col">{{ r.type }}</td>
                    <td class="channel-col" [class.text-center]="!r.channelMatch">
                      <a *ngIf="r.channelMatch" [href]="'https://www.youtube.com/channel/' + r.channelMatch" target="_blank">{{ subTitleById(r.channelMatch) }}</a>
                      <span *ngIf="!r.channelMatch">---</span>
                    </td>
                    <td class="title-col" [class.text-center]="!r.titleMatch">{{ r.titleMatch || '---'}}</td>
                    <td class="desc-col" [class.text-center]="!r.descriptionMatch">{{ r.descriptionMatch || '---'}}</td>
                    <td class="playlist-col">{{ playlistTitleById(r.playlistId) }}</td>
                    <td class="text-end btn-col">
                        <button type="button" class="btn btn-primary btn-sm" (click)="r.edit = true" ngbTooltip="Edit Rule">
                            <fa-icon [icon]="faEdit"></fa-icon> 
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-danger btn-sm" ngbTooltip="Delete Rule" (click)="confirmDelete(r.id)">
                            <fa-icon [icon]="faTrash" ></fa-icon>
                        </button>
                    </td>
                </ng-template>

                <ng-template [ngIf]="r?.edit">
                    <td class="type-col">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary btn-sm" id="ruleType" ngbDropdownToggle>{{ r.type || 'Select a Type' }}</button>
                            <div ngbDropdownMenu aria-labelledby="ruleType">
                                <button *ngIf="r.type !== 'and'" (click)="r.type = 'and'" ngbDropdownItem>and</button>
                                <button *ngIf="r.type !== 'or'" (click)="r.type = 'or'" ngbDropdownItem>or</button>
                            </div>
                        </div>
                    </td>
                    <td class="channel-col">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary btn-sm" id="channelMatch" ngbDropdownToggle>{{ subTitleById(r.channelMatch) || '-- None --' }}</button>
                            <div ngbDropdownMenu aria-labelledby="channelMatch" style="max-height: 200px; overflow:auto">
                                <button (click)="r.channelMatch = ''" class="fs-italics" ngbDropdownItem>None</button>
                                <ng-container *ngFor="let sub of subscriptions">
                                    <button *ngIf="r.channelMatch !== subscriptionsList[sub]" (click)="r.channelMatch = subscriptionsList[sub]" ngbDropdownItem>{{ sub }}</button>
                                </ng-container>
                            </div>
                        </div>
                    </td>
                    <td class="title-col"><input name="titleMatch" type="text" class="form-control" placeholder="Title Pattern Match" [(ngModel)]="r.titleMatch" /></td>
                    <td class="desc-col"><input name="descriptionMatch" type="text" class="form-control" placeholder="Description Pattern Match" [(ngModel)]="r.descriptionMatch" /></td>
                    <td class="playlist-col">
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary btn-sm" id="playlistId" ngbDropdownToggle>{{ playlistTitleById(r.playlistId) || '(Select a Playlist)' }}</button>
                            <div ngbDropdownMenu aria-labelledby="playlistId" style="max-height: 200px; overflow:auto">
                                <ng-container *ngFor="let pl of playlists">
                                    <button *ngIf="r.playlistId !== playlistsList[pl]" (click)="r.playlistId = playlistsList[pl]" ngbDropdownItem>{{ pl }}</button>
                                </ng-container>
                            </div>
                        </div>
                    </td>
                    <td class="text-end btn-col">
                        <button type="button" class="btn btn-success btn-sm" (click)="updateRule(r)" ngbTooltip="Save Updates">
                            <fa-icon [icon]="faCircleCheck" ></fa-icon>
                        </button>
                        &nbsp;
                        <button type="button" class="btn btn-danger btn-sm" ngbTooltip="Cancel Edit" (click)="r.edit = false">
                            <fa-icon [icon]="faXmarkCircle"></fa-icon>
                        </button>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</form>
</div>
<div class="modal-footer bg-dark">
    <button type="button" class="btn btn-secondary" (click)="addRule()"><fa-icon [icon]="faSquarePlus"></fa-icon> Add Rule</button>
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Close</button>
</div>