<div id="app" class="d-flex flex-column overflow-y-none">
  <div class="d-flex position-relative">
    <app-toast-container></app-toast-container>
  </div>

  <div id="top-bar">
    <app-top-bar [authenticated]="authenticated"></app-top-bar>
  </div>

  <div class="d-flex flex-row flex-grow-1 overflow-y-none">

    <div *ngIf="showSidebar && mode !== 'viewer' && authenticated" id="side-bar" class="d-flex flex-column overflow-y-none">
      <div id="side-bar-header" class="me-2">
        <fa-icon [icon]="faCircleChevronLeft" class="icon-button float-end" style="font-size: 1.3em;" (click)="toggleSidebar()"></fa-icon>
      </div>
      <div id="side-bar-content" class="overflow-y-auto">
        <app-side-bar (onNavigatePlaylist)="navigatePlaylist()"></app-side-bar>
      </div>
    </div>


    
    <div id="body" class="flex-grow-1 overflow-y-none h-100">
      <button *ngIf="!showSidebar && mode !== 'viewer' && authenticated"
        id="openSidebarButton"
        class="btn btn-dark"
        (click)="toggleSidebar()"
        ngbTooltip="Show Playlists">
        <fa-icon [icon]="faAngleRight"></fa-icon>
      </button>
      <div id="body-header"></div>
      <div id="body-content" class="overflow-y-auto position-relative">

        <router-outlet
          (activate)="routed=true"
          (deactivate)="routed=false"
        ></router-outlet>

        <div *ngIf="!routed" class="text-center mt-5">
          <div *ngIf="lastUpdated" class="text-center">Sort Last Run: {{ lastUpdated | amTimeAgo }}</div>
          <div *ngIf="!authenticated" class="p-4">
            <p>Sign in to Google with your YouTube account to continue...</p>
          </div>

          <app-home *ngIf="authenticated"></app-home>
        </div>

        <app-footer></app-footer>

      </div>
    </div>
  </div>
</div>


