<div id="app" class="d-flex flex-column overflow-y-none">
  <div class="d-flex position-relative">
    <app-toast-container></app-toast-container>
  </div>

  <div id="top-bar">
    <app-top-bar (onPlaylistsClicked)="toggleSidebar()"></app-top-bar>
  </div>

  <div class="d-flex flex-row flex-grow-1 overflow-y-none">

    <div *ngIf="showSidebar && mode !== 'viewer'" id="side-bar" class="d-flex flex-column overflow-y-none">
      <div id="side-bar-header" class="me-2">
        <span class="last-updated text-muted float-start ms-2"><small>Last Updated:<br />{{ lastUpdated | fromNow }}</small></span>
        <fa-icon [icon]="faCircleChevronLeft" class="icon-button float-end" style="font-size: 1.3em;" (click)="toggleSidebar()"></fa-icon>
      </div>
      <div id="side-bar-content" class="overflow-y-auto">
        <app-side-bar></app-side-bar>
      </div>
    </div>

    <div id="body" class="flex-grow-1 overflow-y-none">
      <div id="body-header"></div>
      <div id="body-content" class="overflow-y-auto">

        <router-outlet
          (activate)="routed=true"
          (deactivate)="routed=false"
        ></router-outlet>

        <div *ngIf="!routed" class="text-center">
          <img src="/assets/585335.jpg" class="align-middle" />
      </div>

      </div>
    </div>
  </div>
</div>


