
#app {
    background-color: #1E1E1E;
    color: #F0F0F0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#body {
    background-color: #111111;
    color: #FFFFFF;
    flex-grow: 1;

    #body-content {
        height: calc(100vh - 90px);
        overflow:auto;
    }
}

#side-bar {
    overflow: hidden;
    width: 800px;
    #side-bar-content {
        height: calc(100vh - 110px);
        overflow:auto;
    }
}

:host::ng-deep router-outlet + standalone-viewer {
    height: 100%;
    display: flex;
}

.icon-button {
    cursor: pointer;
}

#body-header {
    #page-title {
        font-size: 1.2em;
        margin-bottom: 0px;
        margin-top: 4px;
        margin-left: 8px;
        font-family: Verdana, Geneva, sans-serif;
    }
}