<div class="modal-header bg-dark text-light">
  <h4 class="modal-title">Login</h4>
  <button type="button" class="btn-close btn-dark" style="background-color: #aaa" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-dark text-light">
  <p>By logging in and using the features of this site, you agree to the <a href="/privacy-policy">Privacy Policy</a> and the <a href="/terms-of-service">Terms of Service.</a></p>
</div>
<div class="modal-footer bg-dark">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-success" (click)="login()"><fa-icon [icon]="faHandshake"></fa-icon> I Agree</button>
</div>
