<h2 id="page-title">
  <a [routerLink]="'/playlist/' + playlistId" class="title-nav-link">{{ playlistTitle }}</a>
  <span *ngIf="video"> > <a [routerLink]="'/playlist/' + playlistId + '/' + video.title" class="title-nav-link">{{ video.title }}</a></span>
</h2>
<div id="lastUpdated" class="text-muted ps-2">
  Last Updated: {{ lastUpdated | amTimeAgo }}
  <button type="button" class="btn btn-sm btn-dark">
    <div *ngIf="playlistLoading" class="spinner-border spinner-refresh spinner-border-sm" role="status"></div>
    <fa-icon *ngIf="!playlistLoading" [icon]="faRefresh" ngbTooltip="Refresh Playlist" (click)="refresh()"></fa-icon>
  </button>
</div>

<!-- ############################################# -->
<!-- Loading Indicator                             -->
<!-- ############################################# -->
<div *ngIf="loading && playlistId" class="text-center">
    <div class="spinner-border" role="status"></div>
    <div>Loading...</div>
</div>

<div *ngIf="playlistId && !loading && !videoList.length && !videoId" class="no-videos">No videos to display.</div>

<!-- ############################################# -->
<!-- VIDEO LIST.                                   -->
<!-- ############################################# -->
<app-video-list *ngIf="!videoId && playlistId" [playlistId]="playlistId" [videoList]="videoList"></app-video-list>

<div id="playerContainer">
    <app-player *ngIf="videoId && mode === 'player'"
        [playlistId]="playlistId"
        [video]="video"
        [navState]="navState"
    ></app-player>

    <app-remote *ngIf="videoId && mode === 'remote'"
        [playlistId]="playlistId"
        [video]="video"
        [navState]="navState"
    ></app-remote>

    <app-viewer *ngIf="videoId && mode === 'viewer'"
        [playlistId]="playlistId"
        [video]="video"
        [navState]="navState"
    ></app-viewer>
</div>