#page-title {
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-top: 4px;
    margin-left: 8px;
    font-family: Verdana, Geneva, sans-serif;
}

.spinner-refresh {
  font-size: 1em;
  line-height: 1em;
}

.title-nav-link {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
  &:hover {
    color: #CBC660;
  }
}