
<div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>{{ prompt }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Continue click')">Continue</button>
</div>