<div *ngFor="let video of videoList" class="video-card text-center ">
    <div class="position-relative d-inline-block">
        <img class="videoThumbnail" [src]="video.thumbnail" (click)="videoClicked($any(video.videoId))" />
        <span class="badge text-bg-dark" style="position: absolute; bottom: 10px; right: 50px;">{{ video.duration || '' | durationFromISO }}</span>
    </div>
    <ul class="video-links">
      <li><button type="button" class="btn btn-sm btn-dark" (click)="openVideo(video.videoId || '')"><fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon></button></li>
      <li><button type="button" class="btn btn-sm btn-dark mt-1" (click)="removeVideo(video.playlistItemId)"><fa-icon [icon]="faTrash"></fa-icon></button></li>
    </ul>
    
    
    <div class="video-card-body text-start">
        <h3 class="video-card-title" (click)="videoClicked($any(video.videoId))" [ngbTooltip]="video.title">{{ video.title }}</h3>
        <div class="channel">
            <a class="channel-link" [href]="'https://www.youtube.com/channel/' + video.channelId" target="_blank">{{ video.channelTitle }}</a>
        </div>
        <div class="counts">
            <span class="view-count">{{ video.viewCount | viewCount }} <fa-icon [icon]="faEye"></fa-icon></span>
            &nbsp;•&nbsp;
            <span class="publish-date">{{ video.publishedAt | fromNow }}</span>
        </div>
    </div>
</div>