/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/scss/bootstrap";

a {
  color: #FFF;
  text-decoration: none;
  &:hover {
    color: #CBC660;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #444; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}