.largeIcon {
  font-size: 5em;
}

.actionCard {
  width: 31%;

  .card-title {
    font-family: 'Patrick Hand', cursive;
    color: #309E10;
    font-size: 2.3em;
    font-weight: bolder;
  }
}

.card-row {
  display: flex;
  justify-content: space-evenly;
}

.card-row-last {
  width: 50%;
  margin-top: 1%;
  margin-left: 25%;
}

@media screen and (max-width: 900px) {
  .card-row {
    display: block;
  }
  .actionCard, .card-row-last {
    width: 96%;
    margin: 2%;
  }
}