#app-title {
    .logo {
        color: #FFFFFF;
        height: 40px;
    }
    font-family: Verdana, Geneva, sans-serif;

    #app-subtitle {    
        display: inline-block;
        font-size: 20px;
        position: relative;
        top: 4px;
    }
}

#top-bar-contents {
    .badge {
        font-size: 0.6em;
        margin-top: 12px;
        margin-left: -4px;
        float: right;
        padding: 2px;
    }
}