
@media screen and (max-width: 1100px) {
  .buttonTitle {
    display: none;
  }
}

#app-title {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
    font-family: Verdana, Geneva, sans-serif;
    
    #app-logo {
      height: 40px;
      
    }
    
    #app-subtitle {    
        display: inline-block;
        position: relative;
        margin-left: 4px;
        font-family: 'Patrick Hand', cursive;
        color: #309E10;
        font-size: 2.5em;
        line-height: 40px;
        vertical-align: middle;
    }
}

#app-title.viewer {

    #app-subtitle {
        display: none !important;
    }

    .logo {
        display: none !important;
    }
}

#top-bar-contents {
    .badge {
        font-size: 0.6em;
        margin-top: 12px;
        margin-left: -4px;
        float: right;
        padding: 2px;
    }
}

#top-bar-contents.viewer {
    padding: 0px !important;
}