#app-title {
    .logo {
        color: #FFFFFF;
        height: 40px;
    }
    font-family: Verdana, Geneva, sans-serif;

    #app-subtitle {    
        display: inline-block;
        font-size: 20px;
        position: relative;
        top: 4px;
    }
}